<form action="<%= session_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user_email">Email:</label>
  <input type="text" name="user[email]" id="user_email">
  <br>

  <label for="user_password">Password:</label>
  <input type="password" name="user[password]" id="user_password">

  <input type="submit" value="Log in">

  <%= link_to "Not a user?", new_user_url %>

</form>