

<%#= render "form", :albums => @albums, :cur_album => @cur_album, :track => @track, :action => :edit %>

<% action_url = (action == :new) ? album_tracks_url(cur_album) : track_url(track) %>

<form action="<%= action_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <% if action == :edit %>
  <input type="hidden" name="_method" value="put">
  <% end %>

  <label for="track_name">Track name:</label>
  <input type="text" name="track[name]" id="track_name" value="<%= "#{track.name}" %>">

  <label for="track_album_id">Select album</label>
  <select name="track[album_id]" id="track_album_id">
    <% albums.each do |album| %>
    <option value="<%= "#{album.id}" %>" <%= "selected" if album.id == track.album_id %>> <%= "#{album.id} - #{album.name}" %> </option>
    <% end %>
  </select>
  <br>

  Track category:
  <input type="radio" name="track[category]" id="track_category_regular" value="regular" <%= "checked" if track.category == "regular" %>>
  <label for="track_category_regular">Regular</label>

  <input type="radio" name="track[category]" id="track_category_bonus" value="bonus"><label for="track_category_bonus" <%= "checked" if track.category == "bonus" %>>Bonus</label>
  <br>

  <label for="track_lyrics">lyrics</label>
  <input type="textarea" rows="10" cols="50" name="track[lyrics]" id="track_lyrics" value="<%= "#{track.lyrics}" %>"></input>

  <input type="submit">

</form>