You are looking at <%= @track.name %> from <%= link_to @track_album.name, album_url(@track_album) %> by <%= link_to @track_band.name, band_url(@track_band) %> with category <%= "#{@track.category}"%>
<br>
Here are the lyrics:
<br>
<%= "#{@track.lyrics}"%>
<br>
<br>
<br>

