<html>
<body>

  <h1> Hello. You have successfully signed up for Rap Genius ripoff. </h1>

  <br>
  <p>
    Please activate your account by clicking <%= link_to "here", @url %>
  </p>

  <p>Thanks for joining!</p>
</body>
</html>