<% action_url = (action == :new) ? band_albums_url(cur_band.id) : album_url(cur_band.id) %>

<form action="<%= action_url %>" method="POST">
  <% if action == :edit %>
  <input type="hidden" name="_method" value="PUT">
  <% end %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="album_name">Album name</label>
  <input type="text" name="album[name]" id="album_name" value="<%= album.name %>">

  <br>

  <select name="album[band_id]" id="album_band_id">
    <% bands.each do |band| %>
    <option value="<%= "#{band.id}" %>" <%= "selected" if (album.band_id == band.id) %>>
      <%= "#{band.id} - #{band.name}"   %>
    </option>
    <% end%>
  </select>

  <br>
  Album type:
  <input type="radio" name="album[category]" value="live" id="album_type_live" <%= "checked" if album.category == "live" %>>
  <label for="album_type_live">Live</label></input>
  <input type="radio" name="album[category]" value="studio" id="album_type_studio" <%= "checked" if album.category == "studio" %>><label for="album_type_studio">

    Studio</label></input>
  <br>
  <input type="submit" value="Submit">
</form>
