You are in the album <%= "#{@album.name}" %> for <%= link_to @album_band.name, band_url(@album_band) %> with category <%= "#{@album.category}" %>


<br>
Track listing

<ul>
<% @album_tracks.each do |track| %>
<li><%= link_to "#{track.name}", track_url(track) %>
</li>

<% end %>
</ul>


<!-- link to band and tracks -->