<% action_url = (action == :new) ? bands_url : band_url(band) %>

<form action="<%= action_url %>" method="post">
  <% if action == :edit %>
  <input type="hidden" name="_method" value="put">
  <% end %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <label for="band_name">Band name:</label>
  <input type="text" name="band[name]" id="band_name" value="<%= band.name %>">

  <input type="submit" value="Submit">


</form>