<%= @band.name %> has the following albums:

<ul>
  <% unless @band_albums.nil? %>
  <%= @band_albums.count %>

<% @band_albums.each do |album| %>
<li><%= link_to album.name, album_url(album) %></li>
<% end %>

<% end %>
</ul>
<br>
<br>
This band has the following tracks:
<ul>
  <% unless @band_tracks.nil? %>
  <% @band_tracks.each do |track| %>
  <li><%= link_to track.name, track_url(track) %></ul>
  <% end %>
  <% end %>

</ul>
